/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2D2D2D;
  color: #e6e1dc;//默认颜色
}

.hljs-comment,
.hljs-quote {
  color: #599F65;  //注释颜色
  font-style: normal;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #CC7833;//关键字颜色
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;//浅绿色
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #F92672;//脚本关键字
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #CC7833;//关键字颜色，本来是6d9cbe
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;//导包颜色
}

.hljs-title,
.hljs-section {
  color: #66D9EF;//方法名称
}

.hljs-addition {
  background-color: #144212;
  color: #;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: normal;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
